/*页面整体布局*/
.mr-cont{
    width: 365px;
    height: 375px;
    margin: 20px auto;
    border: 1px solid #f00;
    background: url(../img/4-2.png);
}
/*表单整体位置*/
form{
    padding: 65px 50px;
}
label{
    color: #fff;
    display: block;
    padding-top: 10px;
    position: relative;
}
/*设置单行文本框和密码输入框的样式*/
label input{
    height: 25px;
    width: 200px;
    position: absolute;
}
label img{
    height: 28px;
}